body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

button {
    background-color: #383838;
    color: white;
    border: none;
    cursor: pointer;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    text-align: center;
    font-weight: 800;
    font-size: medium;
}

button:hover {
    opacity: 0.8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    border-radius: 10px;
    background-color: black;
    width: 350px;
    padding: 5px;
    padding-bottom: 10px;
    border: 2px solid #383838;
    box-shadow: 0 0 10px #383838;
}

.ligne {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    width: 100%;
    margin-top: 3px;
}

.operator:not(#reste) {
    background-color: #ff8c00;
    color: white;
}

#result {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    background-color: black;
    text-align: right;
    font-size: 3em;
    color: white;
    margin-top: 5px;
    height: 10px;
}

#result:disabled {
    color: #ffffff;
}

.top {
    background-color: rgb(170, 170, 170);
}
